build/
*.o
*.obj
*.exe
*.dll
*.so
.*
!.gitignore
*~
*.kde*

## autotools
!Makefile.am
Makefile
Makefile.in
configure
m4/
*.m4
autom4te.cache
config.*
!config.hpp
depcomp
ltmain.sh
install-sh
missing
stamp-h1
libtool
config.log
config.h.unix


Release
Debug
ipch

*.sdf
CPackConfig.cmake
